@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes moveUp {
  from {
    transform: translateY(100%); /* Start off-screen at the bottom */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* End at the natural position */
    opacity: 1;
  }
}

.animate-move-up {
  animation: moveUp 2s ease-out; /* Animation duration and easing */
}